*.bin
*.tar
*.img*
*.o
*test.c

cat 
echo 
pwd
ticker
ls
mod

*.a

stVwXu7w copy
stVwXu7w

scripts/

krnl.map

lseektest
stack.asm
stack

command/payload
target

command/others/elf.h
# command/payload.c

*.exe
dsct.c